
<meta charset="utf-8"/>
<title>{{$ctrl.seo.title}}</title>
<meta name="robots" content="index, follow">
<meta name="keywords" content="{{$ctrl.seo.keywords}}">
<meta name="description" content="{{$ctrl.seo.description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="/images/favicon.ico">



