<div class="navbar-static-top">
  <div class="container">
    <ul class="nav brand">
      <li><a href="/"><span>{{$ctrl.GLOBALS.siteName}}</span></a></li>
    </ul>
    <ul class="nav menu">
      <li><a href="/"><span>Главная</span></a></li>
      <li><a href="/about" class="selected"><span>О нас</span></a></li>
      <li><a href="/docx-upload" class="contact-toggle"><span>Повышение уникальности</span></a></li>
      <!--<li class="hidden-xs"><a href="http://stream.studieau.co"><span>Stream</span></a></li>-->
    </ul>
  </div>
</div>