<!DOCTYPE html>
<html>
<head>
  {{> v2_imports_css}}
  {{> common_html_head}}
  {{> common_imports}}
</head>
<body>
<section class="page">
  {{> v2_nav}}

  <div class="jumbotron">
    <div class="message container col-sm-6 col-sm-offset-6">
      <h1>Lorem ipsum dolor sit amet.</h1><!--key-->
    </div>
  </div>

  <div class="container">
    <div class="row intro">
      <div class="col-sm-6">
        <h3>Digital Design. Passion for style.</h3>
      </div>
      <div class="col-sm-6">
        <p>
          Studieau is a creative space — a humble multi-disciplinary design studio with a focus on Art Direction &amp;
          Digital Design. It is also the creative alter-ego of Ben Martineau. Studieau loves to collaborate with passionate people
          — combining design thinking, creativity and smart technologies to solve unique problems. Studieau is day by day, pixel by
          pixel, working with bespoke brands of various sizes and industries to create and grow unique ideas.
        </p>
      </div>
    </div>
  </div>

  <div class="shade">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <h2>Studieau attracts passionate people of all disciplines — from designers to developers, artists to architects. We come together to challenge the traditional.</h2>
        </div>
      </div>
      <div class="row intro">
        <div class="col-md-3 col-sm-6">
          <h3>Expertise</h3>
          <ul>
            <li>Art Direction</li>
            <li>Web &amp; Digital Design</li>
            <li>iPhone/Mobile UI Design</li>
            <li>Concept &amp; Idea Generation</li>
            <li>Branding &amp; Identity</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>Industries</h3>
          <ul>
            <li>Fashion, Art &amp; Design</li>
            <li>Travel &amp; Tourism</li>
            <li>Sports &amp; Lifestyle</li>
            <li>Retail &amp; Services</li>
            <li>News &amp; Entertainment</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Design Thinking &amp; Creative Collaboration</h3>
          <p>Studieau is more than just a physical studio. We don't confine ourselves to a single space or team. We work with people all over the world — from designers to developers, artists to architects, to challenge the traditional. We come together with a broad skillset and unique perspective to offer companies and brands the opportunity to innovate.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<h3 class="sticky left">ПОВЫШЕНИЕ УНИКАЛЬНОСТИ</h3>
<h3 class="sticky right">{{$ctrl.GLOBALS.siteName}}</h3>

{{> footer}}



</body>
</html>