<!DOCTYPE html>
<html ng-app="docx-upload">
<head>
  {{> v2_imports_css}}
  {{> common_html_head}}
  {{> common_imports}}
  {{> angular_imports}}
</head>
<body>


<section class="page">
  {{> v2_nav}}

  <div class="container">
    <div class="row intro">
      <div class="col-sm-6">
        <h1 class="h1AsH3">Обход антиплагиата документа онлайн</h1>
        <p>
          У нас вы можете бесплатно повысить уникальность текста. Для этого просто загрузите небольшой файл и нажмите кнопку "попробовать бесплатно".
        </p>
      </div>
      <div class="col-sm-6">
        <p>
          <docs-upload></docs-upload>
        </p>
      </div>
    </div>
  </div>

  <div class="shade">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <h2>После получения файла на почту вы сможете совершенно бесплатно повторно обработать файл по указанной ссылке.</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<h3 class="sticky left">ПОВЫШЕНИЕ УНИКАЛЬНОСТИ</h3>
<h3 class="sticky right">{{$ctrl.GLOBALS.siteName}}</h3>


</body>
</html>