<!DOCTYPE html>
<html ng-app="docx-upload">
<head>
  <meta charset="utf-8" />
  <title>docx upload</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
{{> nav }}


<docs-upload></docs-upload>

{{> angular_imports}}

</body>
</html>