<!DOCTYPE html>
<html ng-app="docx-upload">
<head>
  <meta charset="utf-8" />
  <title>docx upload</title>
</head>
<body>
{{> nav }}


<script src="/angular.min.js"></script>
<script src="/file-saver.js"></script>
<script src="/app.js"></script>
<a-root></a-root>
</body>
</html>