<!DOCTYPE html>
<html>
<head>
  {{> v2_imports_css}}
  {{> common_html_head}}
  {{> common_imports}}
</head>
<body>
<section class="page">
  {{> v2_nav}}

  <div class="container">
    <div class="row intro">
      <div class="col-sm-6">
        <h1 class="h1AsH3">FAQ по анти антиплагиат онлайн.</h1>
      </div>
      <div class="col-sm-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam aspernatur blanditiis commodi
          consectetur cupiditate debitis, error eum eveniet facilis fugit id inventore, labore minima molestiae
          molestias neque obcaecati pariatur porro quas quisquam ratione rem rerum unde vel velit veniam.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="h2AsH3">Меняется ли текст при повышении уникальности? Как работает ваша система?</h2>
        <p>
          Внешне не меняется. Система работает просто: мы используем уязвимости систем проверки уникальности
        </p>
        <h2 class="h2AsH3">В каком формате будет файл после обработки? Есть ли pdf?</h2>
        <p>
          После оплаты вам будет выдана ссылка на скачивание обработанного документа в формате docx. Если вам всё-таки
          нужен pdf, то сделать это можно самому. Для этого откройте MS Word и нажмите «Файл – Сохранить как – Тип файла
          – pdf».
          Не используйте онлайн-конвертеры в PDF, они плохо работают с кириллицей и у вас возникнут проблемы с уровнем
          достигнутой уникальности.
        </p>
        <h2 class="h2AsH3">При проверке файла в Антиплагиат.ВУЗ процент оригинальности текста такой же как в
          Антиплагиат.ру?</h2>
        <p>
          Нет, так как у них разные модули. Проверка в Антиплагиат.ру может показать больший процент, чем проверка в
          Антиплагиат.ВУЗ. Учитывайте это когда выбираете целевую уникальность.
        </p>
        <h2 class="h2AsH3">Не увидел различия между загруженным и скаченным документами. Почему?</h2>
        <p>
          Визуально ничего не меняется. Так и должно быть.
        </p>
        <h2 class="h2AsH3">Почему так дешево?</h2>
        <p>
          Понятие слова дешево относительно. Наша целевая аудитория студенты, которые не имеют постоянного заработка.
        </p>
        <h2 class="h2AsH3">При просмотре в word слова стали подчёркиваться красным. Что делать?</h2>
        <p>
          Такое бывает крайне редко, но все же бывает. В Word нажмите «Рецензирование ( - Язык) - Языковые параметры -
          Правописание - Скрыть орфографические ошибки - Скрыть грамматические ошибки». Сохраните документ.
        </p>
        <h2 class="h2AsH3">Какие способы оплаты вы поддерживаете?</h2>
        <p>
          Мы работаем с банковскими картами и через Яндекс.Деньги. Все платежи проходят через защищенный платежный шлюз
          Яндекс.Касса, что гарантирует вам полную безопасность.
        </p>
        <h2 class="h2AsH3">После изменения уникальности процент оказался отличным от ожидаемого. Как изменить %
          уникальности? Бесплатно ли это?</h2>
        <p>
          Да, бесплатно. После оплаты вам придет письмо с инструкциями.
        </p>
        <h2 class="h2AsH3">Не обнаружится ли Ваш способ повышения уникальности при проверке в Антиплагиат.ВУЗ?</h2>
        <p>
          При глубоком изучении документа конечно можно обнаружить искусственное повышение. Мы это не скрываем в отличии
          от некоторых недобросовестных конкурентов, которые обещают обратное своим якобы суперсовременным алгоритмом.
          И это нужно учитывать, сдавая свою работу дотошному преподавателю.
        </p>
        <h2 class="h2AsH3">После обработки документ не прошел проверку на сайте text.ru. В чем проблема?</h2>
        <p>
          Мы не гарантируем повышение уникальности для сервиса text.ru, так как преподаватели не пользуются им.
        </p>
        <h2 class="h2AsH3">Мой файл слишком большой (свыше {{$ctrl.GLOBALS.MAX_FILE_SIZE}}Мб), не получается загрузить в
          систему. Что делать?</h2>
        <p>
          В документе наверно много изображений. Временно удалите из него несколько, пока размер не станет
          меньше {{$ctrl.GLOBALS.MAX_FILE_SIZE}}Мб и загрузите снова. После верните изображения можно будет вернуть.
        </p>
        <h2 class="h2AsH3">Почему после обработки файла уникальность работы не изменилась?</h2>
        <p>
          Убедитесь в правильности проверки документа. Используйте системы, для которых мы гарантируем повышение
          уникальности: {{$ctrl.GLOBALS.antiplagiatSystems}}
        </p>
        <h2 class="h2AsH3">Можно ли редактировать и переименовывать обработанный файл?</h2>
        <p>
          Да, файл можно и редактировать, и переименовывать. При копировании текста из обработанного файла в другой
          сохранение высокого процента уникальности не гарантированно.
        </p>
        <h2 class="h2AsH3">При просмотре файла с мобильного телефона видны разрывы слов. Можно ли это убрать?</h2>
        <p>
          Рекомендуем просматривать файл с компьютера
        </p>
        <h2 class="h2AsH3">Не получается оплатить документ. Что делать?</h2>
        <p>
          В некоторых случаях помогает посещение сайта с другого и/или современного браузера. Так же помогает изменение
          способа оплаты
        </p>
      </div>
    </div>
  </div>

</section>

<h3 class="sticky left">FAQ ПОВЫШЕНИЯ УНИКАЛЬНОСТИ</h3>
<h3 class="sticky right">{{$ctrl.GLOBALS.siteName}}</h3>

{{> footer}}


</body>
</html>