<!DOCTYPE html>
<html ng-app="app">
<head>
  <link rel="stylesheet" href="/css/common.css">
  <script src="/angular.min.js"></script>
  <script src="/app.js"></script>
</head>
<body>

  <app-root></docs-upload>

</body>
</html>
