
body {
  font-family: Roboto, Monospaced;
}

* {
  box-sizing: border-box;
}

input {
  text-indent: 4px;
}
.docs-upload__range.ngrs-range-slider {
  border-radius: 0;
}

.docs-upload__range.ngrs-range-slider .ngrs-join {
  background-color: black;
  background-image: none;
}

.docs-upload__range.ngrs-range-slider .ngrs-value {
  color: white;
}

.docs-upload__range.ngrs-range-slider .ngrs-handle {
  background-color: white;
  border-radius: 0;
  border-color: black;
}

.docs-upload__range.ngrs-range-slider .ngrs-handle.ngrs-over i {
  background-image: none;
}

.docs-upload__file-info {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.docs-upload__file-info,
.docs-upload__button,
.docs-upload__range.ngrs-range-slider,
.docs-upload__email-input {
  width: 400px;
}

@media (max-width: 575.98px) {
  .docs-upload__file-info,
  .docs-upload__button,
  .docs-upload__range.ngrs-range-slider,
  .docs-upload__email-input {
    width: 330px;
  }
}


.my-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: text-bottom;
}

.my-icon__ok-sign-black {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAArlBMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADDOkjZAAAAOnRSTlMABDIxoysDRKo91dS1dLa3WwcRC7lgrYgGz8QBoBkJx3mn2Vg12EkFOA4idx5xldC60WpLjiwPAnoQIcEo4gAAAJpJREFUGNN90dcOwjAMBdBLaUJ3y94Uyt57/f+PoYiixmnKfbClI0eRbKAwpXtFyjJVwwmsLNvfrFOmjzcrUZlHdX28imab9KPTBRo+3PB853gfcLxslRfnB2CqzOY7yBw1hQ6TGQjXej4wiqegjHqj3Z+MoTKqre4AeQb3OzrO8o/VVQEe0y3WcPm3hdIZrNBNxziTj8Z48Xk/kw8JfsBJ4gEAAAAASUVORK5CYII=");
}

.my-icon__ok-sign-white {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAAsVBMVEVHcEz///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8Q9rufAAAAO3RSTlMAMjHVoysDRKo91AS1c7cCBxELXK2IBsTOuWEBnwnHeKZYGdc02EkhdzkFDx1v0Ja0y7ZpjbFDLAx5EEeQBqAAAACZSURBVBjTfdHHDoMwEATQIbAOnfTee2+k//+HRVaIsI3JHLzS0/qyA+TGexSFbBI1zIudZvXbNQvy5+Wav+TLuj3c+XAsSdkphoaPV0TvDO9vEV6OyovzE7BUpvkOIlc7XCfTGSQuNwOgPxhDZlTa9e5oCJVRqrV6yDJY0NBxmn+sngrwSXdYw2XfEQo12KGbrDESSyOWX+8H+XQJt18XKwEAAAAASUVORK5CYII=')
}

.my-icon__not-ok-sign-white {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAAtFBMVEVHcEz///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9aXyCHAAAAPHRSTlMAodWGNQkKMd3bLdkyPjDcDoWYiFk31it3Lg0zdRCCtngIhFA/W0CgmU9c1A96eb6buZpRWocLllJNTjT9XSvEAAAAzklEQVQY032R1xKCMBBFk5BgBKMUFSyAigXsvf7/f0mKlAfJZO7eOZPsbrIA1C794kJ4i/UKDDTqdBm7OtTeFnTQH0+lIz4ycmqOiiPYVDzoj8oJMbJE1MbV6pMZ1zvleU8t7lsHnp/yfp4PDtodrASAJM3E7YqrjWYj28IutEzgHCiuKFiu/uM/SWJHlvzkJY8v/kmUZBrJBqMcANuvPmcXimAhXKa9zVAawyzxnun9rIEmRE1jj7ziiDWjyZqx9ZmGw0odkmoQ2m9SP9ovShIMZt8L9RwAAAAASUVORK5CYII=')
}

.my-icon__not-ok-sign-black {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAAtFBMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADgD88QAAAAPHRSTlMAodWGNQkKMd3bLdkyPjDcDoWYiFkuN9YrdzMNdRCCtngIhFA/W0CgmU9cD9R6eb6buZpSUVqHC5ZNTjRbl3a8AAAAzUlEQVQY032R1xKDIBBFAcUQlcSSaixJTO+9/v9/BYSoPCjD3L1zBnYXFoDaZdx8CB+pocBII16H0rtH3G1Bu/1wIhweIjOnVlAc0S3Jo35QTqgjJ4taqFYfT7k+Cc97trm3jzw/4f1cXxy02roUAFZrJn4nu9poNtjO7FxjAmdAcknBYlmNK5Kknij5zUue3vyTCGaaiAaTHAB3qD5nH2fBQXqZ9nYjYUyrxHvW4G9NNMZyGgc0KI44U7LaULq5kHik1MFrDUL3g+tH+wNB8wxmZNFgowAAAABJRU5ErkJggg==");
}


.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 1px solid white
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.docs-upload__button{
  border-color: #fff;
  color: #fff;
  background-color: black;
}

.docs-upload__button:hover{
  background-color: #fff;
  color: black;
  border-color: transparent;
}

.docs-upload__main-button{
  border-color: #ffc107;
  color: #ffc107;
  background-color: black;
}

.docs-upload__main-button:hover{
  background-color: #ffc107;
  color: black;
  border-color: transparent;
}

.docs-upload__text-validation{
  color: red !important;
}


form .docs-upload__email-input.docs-upload__email-input {
  border-color: #fff!important;
  color: #fff;
  background-color: black;
  box-shadow: none;
}

/*.docs-upload__email-input.ng-valid-email.ng-not-empty {
  border-color: #fff;
}*/
input.docs-upload__email-input:-internal-autofill-selected,
input.docs-upload__email-input:-internal-autofill-previewed {
  border-color: transparent!important;
}


.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}.p-5 {
   padding: 3rem !important;
 }

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.w-100 {
  width: 100%;
  max-width:100%
}

.blog p {
  color: #9b9b9b;
}